* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: #f0f2f4;
  font-size: 11px;
  font-family: "Lexend Deca";
}

.container {
  background: #f0f2f4;
  display: flex;
  flex-direction: row;
  width: 80%;
  justify-content: center;
  padding: 3rem 0;
}

.item1 {
  background: #e28525;
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  padding: 3.5rem 2rem;
  height: 60vh;
  width: 20%;
}

.item2 {
  background: #016972;
  padding: 3.5rem 2rem;
  width: 20%;
  height: 60vh;
}

.item3 {
  background: #144a48;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
  padding: 3.5rem 2rem;
  width: 20%;
  height: 60vh;
}

.item1btn {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  color: #e28525;
  margin-top: 50px;
}

.item2btn {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  color: #016972;
  margin-top: 50px;
}
.item3btn {
  padding: 0.5rem;
  border-radius: 15px;
  border: none;
  color: #144a48;
  margin-top: 50px;
}
img {
  width: 3rem;
  position: relative;
  bottom: 8%;
}
h1 {
  font-family: "Big Shoulders Display";
  font-weight: 700;
  padding: 1rem 0;

}
p {
  line-height: 1.5;
  opacity: 0.6;
}

@media (max-width: 800px) {
  body {
    background: black;
   
  }
  .container {
    display: flex;
    flex-direction: row;
    padding: 10px 70px;
   width: 100%;
    
  }
  .item1 {
    
    border-bottom-left-radius: 9px;
    width: 27%;
    height: 60vh;
  }
  .item2 {
    border-bottom-right-radius: 0;
    width: 27%;
    height: 60vh;
  }
  .item3 {
    
   
    width: 27%;
    height: 60vh;
  }
}

@media (max-width: 400px) {
  body {
    background: black;
  }
  .container {
    display: flex;
    flex-direction: column;
    padding: 10px 70px;
    width: 100%;
    margin: 0;
  }
  .item1 {
    border-top-right-radius: 9px;
    border-bottom-left-radius: 0;
    width: 100%;
    margin: 0 auto;
  }
  .item2 {
    border-bottom-right-radius: 0;
    width: 100%;
  }
  .item3 {
    border-top-right-radius: 0;
    border-bottom-left-radius: 9px;
    width: 100%;
    margin: 0;
  }
}
